body {
    background-color: pink
}

/* .head-container {
    width: 100%;
    height: 100%;
    background-color: beige;

} */

/* .intro-container {
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 20px;
} */

/* .img-container-1 {
    width: 1650px;
    border: 15px solid white;
    padding: 500px;
    margin: 20px;
    background-size: cover;
} */

/* .mybackground-container-item {
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
} */

/* .mybackground-container-content{
    text-align: center;
    width: 100%;
    height: 100%;
} */

/* .img-container-2 {
    width: 1650px;
    border: 15px solid white;
    padding: 500px;
    margin: 20px;
    background-size: cover;
} */

/* .skills-container-item {
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;

}

.skills-container-content {
    text-align: center;
    width: 100%;
    height: 100%;
} */

.first-layer-container-img-first_left {
    width: 300px;
    height: 300px;
    border: 15px solid white;
    padding: 200px;
    margin: 20px;
    display: inline-block;
    background-size: cover;
}


.first-layer-container-img-first_right {
    width: 300px;
    height: 300px;
    border: 15px solid white;
    padding: 200px;
    margin: 20px;
    display: inline-block;
    background-size: cover;

}

.first-layer-container-img-second_left {
    width: 300px;
    height: 300px;
    border: 15px solid white;
    padding: 200px;
    margin: 20px;
    display: inline-block;
    background-size: cover;

}

.first-layer-container-img-second_right {
    width: 300px;
    height: 300px;
    border: 15px solid white;
    padding: 200px;
    margin: 20px;
    display: inline-block;
    background-size: cover;

}

.container-img {
    width: 950px;
    height: 750px;
    border: 15px solid grey;
    padding: 200px;
    margin: 20px;
    background-size: cover;

}

/* Safari syntax  */
/* :-webkit-full-screen {
    background-color: yellow;
  } */
  
  /* IE11 */
  /* :-ms-fullscreen {
    background-color: yellow;
  } */
  
  /* Standard syntax */
  /* :fullscreen {
    background-color: yellow;
  } */
  
  /* Style the button */
  button {
    /* padding: 10px; */
    font-size: 15px;
    width: 150px;
    height: 50px;
    border: 5px solid white;
    background-color: white;
    margin: 20px;
    float: right;
    
    
  }

 


/* h1 {
    font-family: 'Cambria';
    font-weight: bold;
    text-align: center;
} */

/* h2 {
    font-family: 'Sans Serif';
} */

/* h3 {
    font-family: 'Sans Serif';
    font-weight: bold;
} */

/* h4 {
    font-family: 'Sans Serif';
    
}  */

/* Flip Card */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 400px;  /* match with html info */
    height: 400px; /* match with html info */
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
    background-size: cover;
    
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
  }

  /* Zoom on Hover */
  * {
    box-sizing: border-box;
  }
  
  .zoom {
    padding: 50px;
    /* background-color: green; */
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }



  /* Timeline */
*,
*::before,
*::after {
box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* background: #ffffff; */
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #006E51;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #006E51;
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #006E51;
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .year {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #006E51;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .year {
  right: -75px;
}

.container.right .year {
  left: -75px;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: #F6D155;
  border: 2px solid #006E51;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #006E51;
  z-index: 1;
}

.container.left .icon {
  right: 56px;
}

.container.right .icon {
  left: 56px;
}

.container .content {
  padding: 30px 90px 30px 30px;
  background: #F6D155;
  position: relative;
  border-radius: 0 500px 500px 0;
}

.container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: #006E51;
}

.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after, 
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent #006E51 transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 15px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}