<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Denise Lin's Portfolio</title>
    <link rel="stylesheet" href="/Intro/static/css/styles.css"> 
    
  </head>

  <body>
    <div class="head-container">
      <h1>DENISE LIN</h1>

      <!-- Bootstrap Navbar only -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="#">Features</a>
              <a class="nav-link" href="#">Pricing</a>
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </div>
          </div>
        </div>
      </nav>

    </div>

    <div class="intro-container">
      <h2>Denise Lin is a Silicon Valley and APAC based Software Engineer<br> 
        and UI/UX Designer, focusing on making the world beautiful.</h2>
    </div>

    <div 
    class="img-container-1" 
    style="background-image: url(/Intro/static/img/interiordesignsecrets1.jpeg)"> 
    </div>

    <div class="mybackground-container-item">
      <h3>My Background</h3>
    </div>

    <div class="mybackground-container-content">
      <h4>Borned and raised in Taipei, Taiwan; Studied and worked in Beijing, China;<br>
        Moved to the Bay Area, San Francisco and enjoying variety of the culture now.<br><br>
        Few years of working experience at Apple in localization ML field, absorbed tech knowledge<br>
        and environment, it made me having a strong willing of gaining deeper tech skills.<br><br>
        Attended Hackbright Academy to learn and train as a full stack engineer, I now combine my design and 
        tech skills on presenting beautiful visual side.
      </h4>
    </div>

    <div class="img-container-2" style="background-image: url(/Intro/static/img/modern-art-display-interior-design-2500x1667.jpeg)">
    </div>

    <div class="skills-container-item">
      <h3>My Skills</h3>
    </div>

    <div class="skills-container-content">
      <h4><b>Languages</b> | Python, JavaScript(AJAX, JSON), HTML, CSS, SQL<br><br>
        <b>Frameworks & Libraries</b> | Flask, jQuery, Bootstrap, Jinja, React<br><br>
        <b>Database & Industry Tools</b> | PostgreSQL, Git, GitHub, Command Line<br><br>
        <b>Tools & Software</b> | Radar, Agile, Digital Marketing
      </h4>
    </div>

    <div class="first-layer-container-img-left" style="background-image: url(/Intro/static/img/w2000_q60.jpeg)">
    </div>

    <div class="first-layer-container-img-middle">
    </div>

    <div class="first-layer-container-img-right">
    </div>

    <div class="container-img" style="background-image: url(/Intro/static/img/90424091_10102879840383977_2584763489700544512_n.jpeg)">
    </div>

    <!-- Bootstrap JavaScript Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->

  </body>
</html>