<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Welcome</title>
    <link rel="stylesheet" href="/Intro/static/css/styles.css"> 
    
  </head>

  <body>
    <div class="head-container">
      <h1>DENISE LIN</h1>
    </div>

    <div class="intro-container">
      <h2>Denise Lin is a Silicon Valley and APAC based Software Engineer<br> 
        and UI/UX Designer, focusing on making the world beautiful.</h2>
    </div>

    <div 
    class="img-container-1" 
    style="background-image: url(/Intro/static/img/interiordesignsecrets1.jpeg)"> 
    </div>

    <div class="mybackground-container-item">
      <p>My Background</p>
    </div>

    <div class="mybackground-container-content">
      <p>Borned and raised in Taipei, Taiwan; Studied and worked in Beijing, China;<br>
        Moved to the Bay Area, San Francisco and enjoying variety of the culture now.<br><br>
        Few years of working experience at Apple in localization ML field, absorbed tech knowledge<br>
        and environment, it made me having a strong willing of gaining deeper tech skills.<br><br>
        Attened Hackbright Academy of training as a full stack engineer, I now combine my design and 
        tech skills on presenting beautiful visual side.
      </p>
    </div>

    <div 
    class="img-container-2" 
    style="background-image: url(/Intro/static/img/modern-art-display-interior-design-2500x1667.jpeg)">
    </div>

    <div class="skills-container-item">
      <p>My Skills</p>
    </div>

    <div class="skills-container-content">
      <p><b>Languages</b> | Python, JavaScript(AJAX, JSON), HTML, CSS, SQL<br><br>
        <b>Frameworks & Libraries</b> | Flask, jQuery, Bootstrap, Jinja, React<br><br>
        <b>Database & Industry Tools</b> | PostgreSQL, Git, GitHub, Command Line<br><br>
        <b>Tools & Software</b> | Radar, Agile, Digital Marketing
      </p>
    </div>

  </body>
</html>